# ==========================
#   IGNORAR ARCHIVOS ECLIPSE
# ==========================
.metadata/
.classpath
.project
.settings/

# ==========================
#   SPRING / MAVEN
# ==========================
**/target/
**/bin/

# ==========================
#   NODE / FRONTEND
# ==========================
FRONT/node_modules/
FRONT/build/

# ==========================
#   ARCHIVOS BASURA
# ==========================
*.log
*.tmp
*.DS_Store
Thumbs.db



.factorypath
BACK/.factorypath